# EditorConfig permite para que mantenga el formato correcto y ahorra tiempo en correcciones de código innecesarias.
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
